
.zone{
    stroke-width: 150;
    stroke-linejoin: round;
    fill: #90C3D4;
    stroke: #90C3D4;
}

.node_background{
    fill: #CAD658;
    stroke: #CAD658;
    opacity: 0.1;
}

.link{
    stroke: #4043d6;
    stroke-width: 5px;
    fill: none;
}

.arrow{
    stroke: #000;
    fill: #000;
    stroke-width:1;
    stroke-dasharray:0;
}

.double-arrow{
    stroke: #000;
    fill: #000;
    stroke-width:1;
    stroke-dasharray:0;
    markerWidth: 20;
    markerHeight: 20;
}


.zone {
    stroke-width: 150;
    stroke-linejoin: round;
    fill: #373737;
    stroke: #373737;
}

.zonelabel{
    fill: red;
    stroke: red;
}


.zone_link{
    stroke: #d6ce51;
    stroke-width: 10px;
    fill: none;
}